body {
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

input::placeholder {
    color: #D1D1D1
}

h2 {
    font-size: 20px;
    color: #818181;
    margin: 0 auto;
}


/* HEAD BuzzQuizz */

.redBanner {
    height: 70px;
    width: 100%;
    background-color: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
}

.redBanner>h1 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 37px;
}


/* QuizzBody */

.quizBody {
    margin: 70px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botaoVermelho {
    width: 370px;
    height: 55px;
    margin: 45px auto 9px auto;
    background: #EC362D;
    border: 0;
    border-radius: 15px;
    font-size: 18px;
    color: #FFF5F4;
    cursor: pointer;
}

.botaoBranco {
    width: 370px;
    height: 55px;
    background: #E5E5E5;
    border: 0;
    font-size: 18px;
    color: #818181;
    margin: 0 auto 25px auto;
    cursor: pointer;
    width: auto;
}


/* Tela 1 Quizzes */






/* Tela 2 Jogando o Quizz */

.bannerQuizz {
    position: relative;
    width: 100vw;
    height: 225px;
}

.tituloQuizz {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-size: 40px;
    text-shadow: gray 0 0 2px;
    z-index: 2;
}

.topoSegundaTela {
    width: 100vw;
    height: 225px;
}

.pergunta {
    margin: 42px auto 0 auto;
    width: 760px;
    height: 170px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.cxPergunta {
    margin: 30px auto 0 auto;
    width: 710px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cxPergunta>p {
    font-weight: 700;
    font-size: 25px;
    color: #ffffff;
    word-break: break-word;
}

.respostas {
    margin: 0 auto 0 auto;
    width: 760px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #ffffff;
}

.respostas>div {
    width: 330px;
    height: 255px;
    margin: 20px 25px 20px 25px;
    cursor: pointer;
}

.respostas p {
    width: 330px;
    word-break: break-word;
    margin: 10px 0 10px 0;
    font-weight: 700;
    font-size: 20px;
}

.imgPerg {
    width: 330px;
    height: 200px;
    opacity: 0.3;
}

.respostaCerta {
    color: #009C22;
}

.respostaErrada {
    color: #FF4B4B;
}

.testeteste {
    color: #000000;
}

.respostaOnHold>img {
    opacity: 1;
}

.respostaEscolhida>img {
    opacity: 1;
}

.resultado {
    margin: 42px auto 0 auto;
    width: 760px;
    height: 430px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.imgResult {
    width: 360px;
    height: 270px;
    margin: 15px 25px;
}

.resultado p {
    margin: 15px 25px 20px 0;
    word-break: break-word;
}

.resultadoAqui {
    display: flex;
}


/* Tela 3 Criação de Quizz */

.titulo {
    margin: 60px auto;
    font-weight: 700;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listaCriacao>div {
    width: 600px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 0 8px 0 4px;
}

.listaCriacao div:first-child {
    padding-top: 21px;
}

.listaCriacao div:last-child {
    padding-bottom: 24px;
}

.listaCriacao>li {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
}

.listaCriacao ion-icon {
    width: 25px;
    height: 25px;
    margin-right: 25px;
    margin-top: 24px;
    cursor: pointer;
}

.expandir {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.listaCriacao h1 {
    width: 70%;
    margin: 25px 0 25px 15px;
    font-weight: 700;
    font-size: 20px;
}

.listaCriacao input {
    margin: 4px 15px 4px 15px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-size: 20px;
    color: #888888;
    font-style: italic;
}

.listaCriacao input::placeholder {
    color: #BABABA;
}

.botaoQuiz {
    display: flex;
    justify-content: center;
    margin-top: 85px;
}

.botaoQuiz button {
    background: #EC362D;
    color: #FFF5F4;
    font-size: 21px;
    text-align: center;
    width: 369px;
    height: 54px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.recuo {
    height: 21px;
}

.quizzPronto {
    width: 500px;
    height: 270px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%);
    border-radius: 5px;
    position: relative;
}

.quizzPronto>h1 {
    position: absolute;
    left: 25px;
    bottom: 15px;
    color: #FFFFFF;
}